# Project information 
site_name: 六楼溜刘的小窝
site_description: 这是一个中学 OIer 的博客，他会在这里分享一些算法和题解，喜欢可以进来贴贴。
site_author: 六楼溜刘 aka six-floor-slip-liu
site_url: https://x-six-floor-slip-liu-x.github.io/

# Repository 
repo_name: X-six-floor-slip-liu-X/六楼溜刘的小窝
repo_url: https://github.com/X-six-floor-slip-liu-X/X-six-floor-slip-liu-X.github.io

# Copyright 
copyright: Built by 六楼溜刘.

# Configuration
theme:
  name: material # 不能改
  language: zh # 中文   
  language: en # English 
  custom_dir: custom # 不能改
  favicon: assets/favicon.png   
  palette:
    # Light mode
    - media: '(prefers-color-scheme: light)'
      scheme: default
      primary: teal
      accent: blue
      toggle:
        icon: material/weather-night
        name: Switch to dark mode
    # Dark mode
    - media: '(prefers-color-scheme: dark)'
      scheme: slate
      primary: cyan
      accent: amber
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode
  font:
    text: Roboto
    code: Roboto Mono
  icon:
    logo: fontawesome/solid/earth-americas
    repo: fontawesome/brands/github
    admonition:
      note: octicons/tag-16
      abstract: octicons/checklist-16
      info: octicons/info-16
      tip: octicons/squirrel-16
      success: octicons/check-16
      question: octicons/question-16
      warning: octicons/alert-16
      failure: octicons/x-circle-16
      danger: octicons/zap-16
      bug: octicons/bug-16
      example: octicons/beaker-16
      quote: octicons/quote-16

  features:
    - navigation.tabs # 这一项将 nav 的顶级标题置顶
    - navigation.top # 返回顶部标签
    - content.code.copy # 代码块一键复制
    - content.code.select # 代码块单行选择
    - content.code.annotate # 代码块注释

# Customization
extra:
  social:
    - icon: fontawesome/brands/github 
      link: https://github.com/X-six-floor-slip-liu-X

extra_javascript:
  - js/mathjax/tex-chtml.js # 不能改


# Extensions 不能改
markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.tilde
  - toc:
      permalink: false
  - pymdownx.blocks.admonition:
      types:
      - new # type 能填哪些项，从这里就能找到
      - settings
      - note
      - abstract
      - info
      - tip
      - success
      - question
      - warning
      - failure
      - danger
      - bug
      - example
      - quote
  - pymdownx.blocks.details:
  - pymdownx.blocks.html:
  - pymdownx.blocks.definition:
  - pymdownx.blocks.tab:
      alternate_style: True

# 目录（导航）
# 格式： - 名称: 路径（通常是相对路径）
# 使用缩进来表示子目录。
nav:
  - 主页: index.md
  - 杂项:
    - 新博客建立啦: misc/new.md
    - MarkDown 常用语法: misc/try_md.md
  - 题解:
    - 关于: solution/about.md
    - 20230113D 染色: solution/20230113D_D.md
    - 20230407C 进化: solution/20230407C_C.md
    - 20230411C 逆序对: solution/20230411C_C.md
    - 20230418C 金条争夺: solution/20230418C_C.md
    - 20230420C: solution/20230420C_ABC.md
    - 20230426C: solution/20230426C_ABC.md
    - 20230428C: solution/20230428C_ABC.md
    - 20230430C: solution/20230430C_ABCD.md
    - 20230524C 数数题: solution/20230524C_D.md
    - 20230617C 树: solution/20230617C_C.md
    - 20230624B: solution/20230624B_ABCD.md
    - 20230626B: solution/20230626B_ABC.md
    - 20230626B 敢览求: solution/20230626B_D.md
    - 20230630B 愿: solution/20230630B_C.md
    - 20230630B: solution/20230630B_ABD.md